.line {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #6B46C1;
    transition: width 0.3s ease-in-out;
}

a:hover .line {
    width: 100%;
}

#home {
    padding-top: 1.5rem;
}

@media (max-width: 1243px) {
    nav .mt-40 {
        display: none;
    }
}


@media (max-width: 1300px) {
    .headerzin {
        font-size: 16px;
    }
}

@media (max-width: 590px) {
    .mac {
        margin-top: -30px;
    }
}

@media (max-width: 375px) {
    .mac {
        margin-top: 60px;
    }
}