footer {
    background-image: url("../../../public/assets/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transition: 0.3s;
}

.linee {
    height: 1px;
    width: 50%;
    background-color: #878484;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 3000ms;
}

.fade-exit-done {
    opacity: 0;
}